[Desktop Entry]
Type=Application
Name=Settings
GenericName=System Settings
Comment=Wi‑Fi, Bluetooth, Displays, Sound, Themes, Configs, and more for Hyprland
Exec=hypr-settings
Icon=preferences-system
Terminal=false
Categories=Settings;DesktopSettings;System;
Keywords=settings;wifi;bluetooth;display;sound;themes;appearance;configs;hyprland;
StartupNotify=true
StartupWMClass=hypr-settings
