[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Comment=Browse files and folders
Exec=gtk-files
TryExec=gtk-files
Icon=system-file-manager
Terminal=false
Categories=Utility;FileManager;
StartupNotify=true
