[Desktop Entry]
Version=1.0
Type=Application
Name=Chrome
Comment=Google Chrome with Neuronix extensions
Exec=neuronix-chrome %U
TryExec=neuronix-chrome
Icon=google-chrome
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=Google-chrome
